<ul id="post-list" class="archive readmore">
    <h3>{{ .Site.Params.readMore | default "Read more" }}</h3>

    {{ $kind := where .Site.RegularPages "Section" "!=" "" }}
    {{ $othr := where $kind "URL" "!=" .URL }}
    {{ range first 2 $othr }}
        <li>
            <a href="{{ .URL }}">{{ .LinkTitle }}<aside class="dates">{{ .Date.Format "2006-01-02" }}</aside></a>
        </li>
    {{ end }}
</ul>

{{ if .Section }}
<nav class="post-nav">
  <span class="nav-prev">{{ with .NextInSection }}<a href="{{ .RelPermalink }}">&larr; {{ .Title }}</a>{{ end }}</span>
  <span class="nav-next">{{ with .PrevInSection }}<a href="{{ .RelPermalink }}">{{ .Title }} &rarr;</a>{{ end }}</span>
</nav>
{{ end }}
