
slides > slide {font-family: 'Microsoft YaHei',monospace;}

body, h2,h3, p, table, th, td, pre, strong, em {color:black; }
b {color:green;}
u {color:blue;}
a {color:orange;}

img {
    max-width: 100%;
    height: auto;
    outline-style:none;
}

.col-xs-6 {
  display: inline-block;
  width: 49%; 
}

/* aligns two-column slides in the center */
div {
  text-align: center;
  vertical-align: baseline;
}